
/*general syling*/


body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  width: 1300px;

  margin:auto;

}
.main{
  width: 1200px;
  text-align: center;
}

/* header */

header{

  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content:space-between;
  wid;
}
img{
  padding-left: 10px;
}
